<!-- ============== SECTION PAGETOP ============== -->
<section class=" padding-y-sm">
  <div class="container">
    <ol class="breadcrumb ondark mb-0">
      <li class="breadcrumb-item"> <a href="#" class="text-dark">Home</a>  </li>
      <li class="breadcrumb-item active"> Shopping cart  </li>
    </ol>
  </div> <!-- container //  -->
  </section>
  <!-- ============== SECTION PAGETOP END// ============== -->
  
  <section class="padding-y bg-light">
  <div class="container">
  
  <!-- =================== COMPONENT CART+SUMMARY ====================== -->
  <div class="row">
    <div class="col-lg-9">
  
      <div class="card">
      <div class="content-body">
        <h4 class="card-title mb-4 text-dark">Your shopping cart</h4>
        <article class="row gy-3 mb-4" *ngFor="let p of listProductAvaiable">
          <div class="col-lg-5">
            <figure class="itemside me-lg-5">
              <div class="aside"><img src="https://cdn.prod.website-files.com/62d84e447b4f9e7263d31e94/6399a4d27711a5ad2c9bf5cd_ben-sweet-2LowviVHZ-E-unsplash-1.jpeg" class="img-sm img-thumbnail" alt="image"></div>
              <figcaption class="info">
                <a href="#" class="title text-info">{{p.name}}</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-auto">
          <button type="button"> + </button>
          <span class="text-dark">{{1}}</span>
          <!-- <button type="button"> - </button> -->
          </div>
          <div class="col-lg-2 col-sm-4 col-6">
            <div class="price-wrap lh-sm"> 
              <var class="price h6 text-dark">${{p.price}}</var>  <br>
            </div> <!-- price-wrap .// -->
          </div>
          <div class="col-lg col-sm-4">
            <div class="float-lg-end">
              <a href="#" class="btn btn-light"> <i class="fa fa-heart"></i></a> 
              <a href="#" class="btn btn-light text-danger"> Remove</a>
            </div>
          </div>
        </article> <!-- row.// -->
  
      </div> <!-- card-body .// -->
      </div> <!-- card.// -->
  
    </div> <!-- col.// -->
    <aside class="col-lg-3">
  
      <div class="card mb-3">
      <div class="card-body">
      <form>
        <div class="form-group">
          <label class="form-label">Have coupon?</label>
          <div class="input-group">
            <input type="text" class="form-control" name="" placeholder="Coupon code">
            <button class="btn btn-light">Apply</button>
          </div>
        </div>
      </form>
      </div> <!-- card-body.// -->
      </div> <!-- card.// -->
  
      <div class="card">
      <div class="card-body">
        <dl class="dlist-align">
          <dt>Total price:</dt>
          <dd class="text-end"> ${{cartTotal}}</dd>
        </dl>
        <div class="d-grid gap-2 my-3">
          <a href="#" class="btn btn-success w-100"> Make Purchase </a>
          <a href="#" class="btn btn-light w-100"> Back to shop </a>
        </div>
      </div> <!-- card-body.// -->
      </div> <!-- card.// -->
  
    </aside> <!-- col.// -->
  
  </div> <!-- row.// -->
  <!-- =================== COMPONENT 1 CART+SUMMARY .//END  ====================== -->
  
  <br><br>
  
  </div> <!-- container .//  -->
  </section>
  