
.product-content {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2em;
    padding: 2em 2.5em;
}

.product-contentV2{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    gap: 2em;
    padding: 2em 2.5em;
}
