.category-product {
    padding: 4em 0;
}

.heading-category {
    color: #000;
    font-weight: 600;
    font-size: 3em;
}

.group-category {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    gap: 2em;
    padding: 2em 2.5em;
}

.product__info{
    margin-top: 5em;
    padding: 1em;
}

.produuct_info_common, .product__info__detail{
    display: flex;
    justify-content: space-between;
}