
.plant-details {
    padding: 5rem;
}

.plant-details__container{
    background-color: #fff;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.05);

}
.plant-details__header{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #eee;

}
.plant-details__back{
    color: #999;
    text-transform: uppercase;
    text-decoration: none;
}

.plant-details__back span {
    margin-left: 1.5rem;
}

.plant-details__like{
    color: #999;
    font-size: 2rem;
}

.plant-details__content{
    display: flex;
}

.plant-details__content > div {
    padding: 4rem;;
}
.plant-details__image{
    width: 40%;
}
.plant-details__image img {
    width: 100%;
}
.plant-details__info{
    flex:1;
    border-left: 1px solid #eee;
}
.plant-details__title{
 font-size: 2rem;
 text-transform: uppercase;
 color: #000;
 margin-bottom: 0.5rem;
}
.plant-details__category{
    text-transform: uppercase;
    color: #999;
    display: block;
    margin-bottom: 2rem;
}
.plant-details__price{
    font-size: 2rem;
    color: #000;
    margin-bottom: 2rem;
    display: block;
}
.plant-details__desc{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #999;
    margin-bottom: 2rem;
}
.plant-details__buttons{
    
}
.plant-details__button{
    outline: none;
    cursor: pointer;
    color: #030303;
    text-transform: uppercase;
    border: 1px solid currentColor;
    padding: 1rem 3rem;
    min-width: 13rem;
    font-size: 1.4rem;
}

.plant-details__button:first-of-type{
margin-right: 1rem;
}